@model Filme

@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>

<form asp-action="Atualizar" class="form-group">
    <input asp-for="Codigo" />

    <partial name="_Formulario" />

    <input type="submit" class="btn btn-outline-warning" value="Atualizar" />
    <a asp-action="Index" class="btn btn-outline-primary">Catálogo</a>
</form>