@model Filme

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastre seu Filme</h1>

<form asp-action="Cadastrar" class="form-group">
    
    <partial name="_Formulario" />

    <input type="submit" value="Cadastrar" class="btn btn-outline-dark" />
    <a asp-action="Index" class="btn btn-outline-primary">Catálogo</a>
</form>
<mensagem validacao="@TempData["msg"]"></mensagem>